a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black; }
a.no-decoration, a.no-decoration:hover, a.no-decoration:active, a.no-decoration:visited {
  border-bottom-color: white; }
a.site-nav {
  text-align: center;
  font-weight: 600;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0; }
  a.site-nav:hover {
    border-color: black; }
  a.site-nav.active {
    border-color: black; }

body {
  padding: 0 20px; }
  @media (min-width: 550px) {
    body {
      padding: 0 10px; } }
  @media (min-width: 800px) {
    body {
      padding: inherit; } }

footer {
  margin: 50px 0 30px 0; }

#site-container {
  max-width: 800px;
  margin: 0 auto; }

.body-text {
  margin-top: 100px; }

.carousel-container {
  position: relative;
  height: inherit; }
.carousel-content li {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  list-style: none; }
  .carousel-content li.current {
    opacity: 1;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.carousel-controls {
  position: absolute; }
.carousel-control, .carousel-control-left, .carousel-control-right {
  position: absolute;
  height: 100%;
  width: 48%;
  background-color: white; }
  .carousel-control-left {
    left: 0;
    content: "<"; }
  .carousel-control-right {
    right: 0;
    content: ">"; }
  .carousel-control:hover, .carousel-control-left:hover, .carousel-control-right:hover {
    opacity: 0.6;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.content-container {
  margin-top: 50px; }

.blog-comments {
  margin-top: 20px; }
.blog-list-header:hover {
  cursor: pointer; }
.blog-list-item {
  margin-top: 80px; }
.blog-title {
  margin-bottom: 0; }
.blog-metadata {
  font-variant: small-caps; }
.blog-post {
  margin-top: 20px;
  text-align: justify;
  -webkit-word-wrap: break-word;
  -ms-word-wrap: break-word;
  -moz-word-wrap: break-word;
  -o-word-wrap: break-word;
  word-wrap: break-word; }

.hide {
  display: none; }
  .hide-when-compact {
    display: none; }
    @media (min-width: 550px) {
      .hide-when-compact {
        display: inherit; } }
  .hide-when-normal {
    display: inherit; }
    @media (min-width: 550px) {
      .hide-when-normal {
        display: none; } }

.huge, .site-header {
  font-size: 7em;
  line-height: 1em; }

.site-header {
  line-height: 0.8em; }
.site-nav {
  margin-top: 30px; }

.subtle, .blog-metadata {
  opacity: 0.4; }

.image-view {
  position: relative; }
  .image-view-item {
    position: absolute; }

.text-left {
  text-align: left; }
.text-right, .site-header {
  text-align: right; }
.text-center, .store-link-container {
  text-align: center; }

.project-list-item {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 200px; }
  .project-list-item-container {
    margin-bottom: 80px; }
  .project-list-item-name-container {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    background: rgba(255, 255, 255, 0.7); }
  .project-list-item-name {
    margin: 0 0 0 10px; }
.project-description {
  text-align: justify; }


/*# sourceMappingURL=style.css.map */