@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
	var projects = new List<dynamic>(CurrentPage.Children);
	projects = projects.OrderBy(x => x.ProjectName).ToList();
}
<div class="body-text">
	<p>@CurrentPage.Text</p>

	@foreach (var i in projects)
	{
		<div class="row">
			<div class="twelve columns" style="background: url(http://placekitten.com/g/800/200)">
				<a href="#">
					<div class="project-list-item">
						<h4 class="project-list-item-name">@i.Projectname</h4>
					</div>
				</a>
			</div>
		</div>
	}
</div>
