@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}
<div class="body-text" ng-controller="projectController">
	<div class="row">
		<div class="one-half column">
			<div class="carousel-container">
				<ul class="carousel-content">
					@*@foreach (var i in CurrentPage.Images.Split(','))*@
					@for (int i = 0; i < 5; i++)
					{
						@*<li><img class="u-max-full-width" src="@Umbraco.Media(i).Url" alt="" /></li>*@
						<li><img class="u-max-full-width" src="http://placekitten.com/g/480/600" alt="" /></li>
					}
				</ul>
			</div>
		</div>
		<div class="one-half column project-description">
			<h2 class="">@CurrentPage.Title</h2>
			@CurrentPage.Description
			<p class="store-link-container@(string.IsNullOrEmpty((string)CurrentPage.StoreLink) ? " hide" : "")"><a class="store-link no-decoration" href="@CurrentPage.StoreLink"><img class="store-link-image" src="~/Images/258x67_WPS_Download_revblk.png" alt="Windows Store Link" /></a></p>
		</div>
	</div>
</div>