@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}
<h2>@CurrentPage.Title</h2>
<div class="body-text row" ng-controller="projectController">
	<div class="one-half column">
		<ul rn-carousel rn-carousel-controls>
			@foreach (var i in CurrentPage.Images.Split(','))
			{
				<li><img class="u-max-full-width" src="@Umbraco.Media(i).Url" alt="" /></li>
			}
		</ul>

	</div>
	<div class="one-half column">
		@CurrentPage.Description
	</div>
</div>