@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
	var images = CurrentPage.Images.Split(',');
}
<div class="body-text" ng-controller="projectController">
	<div class="row">
		<div class="one-half column">
			<carousel>
				@foreach (var i in images)
				{
					<slide class=""><img class="" src="@Umbraco.Media(i).Url" alt="" /></slide>
				}
			</carousel>
		</div>
		<div class="one-half column project-description">
			<h2 class="">@CurrentPage.Name</h2>
			@CurrentPage.Description
			<p class="store-link-container@(string.IsNullOrEmpty((string)CurrentPage.StoreLink) ? " hide" : "")">
				<a class="store-link no-decoration" href="@CurrentPage.StoreLink">
					@if (CurrentPage.StoreLink.Contains("windowsphone"))
					{
						<img class="store-link-image" src="~/Assets/258x67_WPS_Download_revblk.png" alt="Windows Store Link" />
					}
					else
					{
						<img class="store-link-image" src="~/Assets/english_get_it_win_10.png" alt="Windows Store Link" />
					}
				</a>
			</p>
		</div>
	</div>
</div>