@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

<div class="row blog-list-item">
	<h3 class="twelve columns blog-title">@CurrentPage.Title</h3>
	<div class="twelve columns">
		<span ><span class="blog-metadata">Updated at </span> @(((DateTime)CurrentPage.UpdateDate).ToString("d"))</span>
	</div>
	<div class="twelve columns blog-post">
		@Html.Markdown(Umbraco.Field("body").ToString())
		@*@Umbraco.Field("bodyText")*@
	</div>
</div>