<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-16T23:39:46" updateDate="2015-04-16T23:45:12" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1048" creatorName="Jon Stødle" writerName="Jon Stødle" writerID="0" template="1047" nodeTypeAlias="Home">
    <siteTitle><![CDATA[Jon<br/>Stødle]]></siteTitle>
    <twitterName><![CDATA[jonstodle]]></twitterName>
    <twitterUrl><![CDATA[https://twitter.com/jonstodle]]></twitterUrl>
    <tabText><![CDATA[Jon]]></tabText>
    <title><![CDATA[Bio]]></title>
    <text><![CDATA[<p><strong>Name</strong>: Jon Stødle</p>
<p><strong>Age</strong>: !!age!!</p>
<p><strong>Nationality</strong>: Norwegian</p>]]></text>
    <image><![CDATA[{
  "focalPoint": {
    "left": 0.43426294820717132,
    "top": 0.50199203187251
  },
  "src": "/media/1001/me.jpg",
  "crops": [
    {
      "alias": "300x500",
      "width": 300,
      "height": 500
    }
  ]
}]]></image>
  </Home>
</root>